.App {
  display: flex;
  height: 100vh;
}

.video-list {
  flex: 0.3;
  background-color: #f0f0f0; /* Light grey */
  padding: 20px;
}

.video-player {
  flex: 0.7;
  background-color: #d0d0d0; /* Dark grey */
  padding: 20px;
}

h2 {
  color: #333; /* Dark text color */
}

p {
  color: #666; /* Light text color */
}
